<section id="covers">
  <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
    <div class="content">
      <div class="covers">
        <h1 class="visually-hidden">Covers</h1>
        <ul class="covers_inner">
          <li class="covers_line">
            <img src="./img/covers/1covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/2covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/3covers.png" alt="" />
          </li>
        </ul>
        <ul class="covers_inner">
          <li class="covers_line">
            <img src="./img/covers/4covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/5covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/6covers.png" alt="" />
          </li>
        </ul>
        <ul class="covers_inner">
          <li class="covers_line">
            <img src="./img/covers/9covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/8covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/7covers.png" alt="" />
          </li>
        </ul>
        <ul class="covers_inner">
          <li class="covers_line">
            <img src="./img/covers/4covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/1covers.png" alt="" />
          </li>
          <li class="covers_line">
            <img src="./img/covers/5covers.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>