<div class="header container">
  <div class="header-container">


     <div class="logo-container">
      <img class="logo-img"
  srcset="./img/header-img/image.jpg, ./img/header-img/image@2x.jpg 2x"
  src="./img/photo.jpg"
  alt="Logo"
/>
        <p class="icon-text">jefferson*</p>
  </div>
  <nav class="desktop-nav">
    <div class="desktop-nav-container">
      <a class="nav-menu" href="">Menu</a>
    <ul class="menu-list hidden">
      <li class="menu-list-elem"><a class="menu-elem" href="#about-me">About me</a></li>
      <li class="menu-list-elem"><a class="menu-elem" href="#benefits">Benefits</a></li>
      <li class="menu-list-elem"><a class="menu-elem" href="#projects">Projects</a></li>
      <li class="menu-list-elem"><a class="menu-elem" href="#FAQ">FAQ</a>
      </li>
    </ul>
  </div>
    
  </nav>


    <div class="mobile-nav-toggle">
      <button id="menu-open-btn" class="header-menu-button" type="button">
        <svg class="burger-icon" width="28" height="28">
          <use href="./img/header-img/icons/icons.svg#icon-menu"></use>

        </svg>
      </button>

    </div>

    <a href="#footer" class="order-project-link">Order the project</a>
  </div>

</div>



<!-- Mobile Menu -->
<div class="mobile-menu">
  <div class=" mobile-menu-container ">

    <button class="mobile-menu-close-btn">
      <svg class="icon-close" width="28" height="28">
        <use href="./img/header-img/icons/icons.svg#icon-x">
        </use>
      </svg>
    </button>
    <ul class="mobile-nav-menu">
      <li class="mobile-menu-elem"><a class="menu-elem " href="#about-me">About me</a></li>
      <li class="mobile-menu-elem"><a class="menu-elem" href="#benefits">Benefits</a></li>
      <li class="mobile-menu-elem"><a class="menu-elem" href="#projects">Projects</a></li>
      <li class="mobile-menu-elem"><a class="menu-elem" href="#FAQ">FAQ</a>
    </ul>
    <a href="#footer" class="mobile-order-link">Order the project</a>
  </div>

 <script type="module" src="./js/header.js"></script>
</header>

