<header >
  <div class="header-container">
     <div class="logo-container">
    <img class="logo-img" src="../img/header-img/image.jpg" alt="Logo" />
    <svg class="name-icon" width="84" height="19">
          <use href="../img/icons/icons.svg#icon-jefferson"></use>
        </svg>
  </div>
  <nav class="desktop-nav">
    <div class="desktop-nav-container">
      <a class="nav-menu" href="">Menu</a>
    <ul class="menu-list hidden ">
      <li><a class="menu-elem " href="#about-me">About me</a></li>
      <li><a class="menu-elem" href="#benefits">Benefits</a></li>
      <li><a class="menu-elem" href="#projects">Projects</a></li>
      <li><a class="menu-elem" href="#FAQ">FAQ</a>
      </li>
    </ul>
  </div>
    
  </nav>

  <div class="mobile-nav-toggle">
    <button id="menu-open-btn" class="header-menu-button" type="button">
      <svg class="burger-icon" width="28" height="28">
          <use href="../img/icons/icons.svg#icon-menu"></use>
        </svg>
      </button>
    
    </div>

    <a href="#work-together-section" class="order-project-link">Order the project</a>
  </div>
  </div>
 
</header>
