<!-- зв'яжіться з відповідальним за header, у вас накладки у розмітці -->
<section class="hero">

  <div class="container">
    <!-- у макеті цей текст розділено переходами на наступну стрічку, додай <br /> або якось інакше -->
    <p>Hello. I’m Fullstack developer Lloyd Jefferson.</p>
    <div>
      <ul>
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li>
          <a href="https://github.com/psht13/portfolio" target="_blank">GH</a>
        </li>
        <li>

          <!-- у макеті немає такого тексту, там лише сама почта -->
          <a href="mailto:lloydjefferson@gmail.com" target="_blank">Написати листа</a>
        </li>
      </ul>
    </div>
  </div>
</section>