<!-- зв'яжіться з відповідальним за header, у вас накладки у розмітці -->

<div class="container">
  <div class="container-hero">
    <div class="text">
      <p>
        HELLO.<br />
        I’M FULLSTACK DEVELOPER<br />
        LLOYD JEFFERSON.<br />
      </p>
    </div>

    <div class="list">
      <ul class="social-list">
        <li class="social-list-item">
          <a
            class="icon"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="social-list-item">
          <a
            class="icon"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="social-list-item">
          <a class="icon" href="https://www.youtube.com/c/GoIT" target="_blank"
            >YT</a
          >
        </li>
        <li class="social-list-item">
          <a
            class="icon"
            href="https://github.com/psht13/portfolio"
            target="_blank"
            >GH</a
          >
        </li>
        <li class="social-list-item-contact">
          <a
            class="contact"
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
