<!-- Mobile Menu -->
<div class="mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn">
      <svg class="icon-close" width="28" height="28">
        <use href="./img/header-img/icons/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="mobile-nav-menu">
      <li class="mobile-menu-elem">
        <a class="menu-elem" href="#about-me">About me</a>
      </li>
      <li class="mobile-menu-elem">
        <a class="menu-elem" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-menu-elem">
        <a class="menu-elem" href="#projects">Projects</a>
      </li>
      <li class="mobile-menu-elem"><a class="menu-elem" href="#FAQ">FAQ</a></li>
    </ul>

    <a href="#footer" class="mobile-order-link">Order the project</a>
  </div>
</div>