<div class="modal">
  <button class="modal-close-btn" type="button">
    <svg
      class="modal-icons-close"
      width="12"
      height="12"
      aria-label="cloce-icon"
    >
      <use href="/src/img/modal.img/close.svg"></use>
    </svg>
  </button>
  <section class="modal-section">
    <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </section>
</div>
