<section class="section review" id="projects">
  <div class="container">
    <h2 class="title-projects">projects</h2>
    <div class="projects-container">
      <ul class="projects">
        <li class="projects-description" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-out"
          data-aos-once="true">
          <ul class="projects-list">
            <li><a href="#" class="projects-list-but">#react</a></li>
            <li><a href="#" class="projects-list-but">#js</a></li>
            <li><a href="#" class="projects-list-but">#node js</a></li>
            <li><a href="#" class="projects-list-but">#git</a></li>
          </ul>

          <p class="project-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>

          <a class="project-button" target="_blank" href="https://github.com/psht13/portfolio">See project</a>
        </li>
        <!------- Swiper------->
        <li class="projects-block-img" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-out"
          data-aos-once="true">
          <div class="swiper swiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="
                      ./img/projects/desktop/expand.jpg    1x,
                      ./img/projects/desktop/expand@2x.jpg 2x
                    " media="(min-width:1440px)" />
                  <source srcset="
                      ./img/projects/tablet/expand.jpg    1x,
                      ./img/projects/tablet/expand@2x.jpg 2x
                    " media="(min-width:768px)" />
                  <source srcset="
                      ./img/projects/mobile/expand.png    1x,
                      ./img/projects/mobile/expand@2x.png 2x
                    " media="(min-width:375px)" />

                  <img src="./img/projects/mobile/expand.png" alt="Projects" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="
                      ./img/projects/desktop/petl.jpg    1x,
                      ./img/projects/desktop/petl@2x.jpg 2x
                    " media="(min-width:1440px)" />
                  <source srcset="
                      ./img/projects/tablet/petl.jpg    1x,
                      ./img/projects/tablet/petl@2x.jpg 2x
                    " media="(min-width:768px)" />
                  <source srcset="
                      ./img/projects/mobile/petl.png    1x,
                      ./img/projects/mobile/petl@2x.png 2x
                    " media="(min-width:375px)" />

                  <img src="./img/projects/mobile/petl.png" alt="Projects" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="
                      ./img/projects/desktop/vocab.jpg    1x,
                      ./img/projects/desktop/vocab@2x.jpg 2x
                    " media="(min-width:1440px)" />
                  <source srcset="
                      ./img/projects/tablet/vocab.jpg    1x,
                      ./img/projects/tablet/vocab@2x.jpg 2x
                    " media="(min-width:768px)" />
                  <source srcset="
                      ./img/projects/mobile/vocab.png    1x,
                      ./img/projects/mobile/vocab@2x.png 2x
                    " media="(min-width:375px)" />

                  <img src="./img/projects/mobile/vocab.png" alt="Projects" />
                </picture>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="project-button-nav">
      <div class="project-button-prev">
        <svg class="link-slider" width="24" height="24">
          <use href="./img/projects/sprite.svg#icon-arrow-left2"></use>
        </svg>
      </div>
      <div class="project-button-next">
        <svg class="link-slider" width="24" height="24">
          <use href="./img/projects/sprite.svg#icon-arrow-right2"></use>
        </svg>
      </div>
    </div>
  </div>
</section>