<section class="section review" id="reviews">
  <div class="container">
    <h2 class="title-projects">projects</h2>
    <div class="projects-container">
      <ul class="projects">
        <li class="projects-description">
          <ul class="projects-list">
            <li class="projects-list-but"><a href="#">#react</a></li>
            <li class="projects-list-but"><a href="#">#js</a></li>
            <li class="projects-list-but"><a href="#">#node js</a></li>
            <li class="projects-list-but"><a href="#">#git</a></li>
          </ul>

          <p class="project-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>

          <a class="project-button" href="https://github.com/psht13/portfolio"
            >See project</a
          >
        </li>

        <li class="projects-block-img">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/projects/mobile/expand.png,
                      ./img/projects/mobile/expand@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img src="./img/projects/mobile/expand.png" alt="Projects" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/projects/mobile/petl.png,
                      ./img/projects/mobile/petl@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img src="./img/projects/mobile/petl.png" alt="Projects" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/projects/mobile/vocab.png,
                      ./img/projects/mobile/vocab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img src="./img/projects/mobile/vocab.png" alt="Projects" />
                </picture>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
