 <section>
<h2 class="reviews-title container-reviews">Reviews</h2>
<div class = "container-reviews swiper-reviews">
        <div class = "container-cards swiper-wrapper-cards">
            <div class="swiper-slide cards">
            <!-- <div class="swiper-slide reviews-slide">
            <ul class="cards"></ul> -->
            </div>
        </div> 
        <div class="reviews-buttons">   
        <div class="reviews-button-prev"><svg class="svg-arrow" width="24" height="24">
            <use href="./img/reviews-img/sprite-reviews.svg#icon-left-arrow"></use>
        </svg></div>
        <div class="reviews-button-next"><svg class="svg-arrow" width="24" height="24">
            <use href="./img/reviews-img/sprite-reviews.svg#icon-right-arrow"></use>
        </svg></div>
        </div>
</div>

</section>

