<section>
<div class = container-reviews>
        <h2 class = reviews-title>Reviews</h2>
        <div class = container-cards>
            <ul class="cards"></ul>
        </div>
        
        
        <div class="reviews-button-prev">prev</div>
        <div class="reviews-button-next">next</div>
</div>
 


   <!-- ---------------swiper--------------- --> 

    <!-- <div class="swiper"> -->
    <!-- Additional required wrapper -->
    <!-- <div class="swiper-wrapper"> -->
    <!-- Slides -->
    <!-- <div class="swiper-slide"></div> -->
    
    <!-- </div> -->
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

 </section> 