<section>
    <div class="container">
        <h2 class="reviews-title container-reviews" data-aos="fade-in" data-aos-duration="1000"
            data-aos-easing="ease-in-out" data-aos-once="true">Reviews</h2>
        <div class="container-reviews">
            <div class="container-cards swiper3" data-aos="fade-in" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <div class="cards swiper-wrapper">

                </div>
            </div>
            <div class="reviews-buttons" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-out"
                data-aos-once="true">
                <div class="reviews-button-prev">
                    <svg width="24" height="24">
                        <use href="./img/projects/sprite.svg#icon-arrow-left2"></use>
                    </svg>
                </div>
                <div class="reviews-button-next">
                    <svg width="24" height="24">
                        <use href="./img/projects/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>

</section>