<div class="footer-wrapper">
    <div class="heading-wrapper">
        <picture>
            <source srcset="
                            ../img/work-together-img/image.jpg    1x,
                            ../img/work-together-img/image@2x.jpg 2x
                          " />
            <img src="../img/work-together-img/image.jpg" alt="Personal photo" />
        </picture>

        <h2>LET'S <span>WORK</span> <br>
            TOGETHER</h2>
    </div>

    <form>
        <div class="form-inputs">
            <input type="email" name="email" placeholder="clients@gmail.com">
            <input type="text" name="comments" placeholder="comments">
        </div>
        <button type="submit">Send</button>
    </form>

    <div class="footer-contacts">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        <a href="tel:+380111111111">+380 11 1111 111</a>
    </div>
</div>