<div class="footer-bg-container"></div>
<div class="container footer-wrapper">
  <div class="footer-heading-wrapper">
    <h2 class="footer-heading-pb footer-heading">
      <picture class="footer-heading-img-wrapper">
        <source srcset="
            ./img/work-together-img/image.png    1x,
            ./img/work-together-img/image@2x.png 2x
          " media=" (max-width: 767px)" />
        <source srcset="
            ./img/work-together-img/image-big.png    1x,
            ./img/work-together-img/image-big@2x.png 2x
          " media=" (min-width: 768px)" />

        <img src=" ./img/work-together-img/image.png" alt="Personal photo" class="footer-heading-img" />
      </picture>
      Let’s<span class="footer-heading-highlight">work</span>
    </h2>
    <h2 class="footer-heading">together</h2>
  </div>

  <form class="footer-form" id="footer-form">
    <ul class="footer-form-inputs">
      <li class="footer-form-inputs-item">
        <input class="footer-form-input" type="email" name="email" placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
        <div class="footer-underscore">
          <span id="message-box"></span>
        </div>
      </li>
      <li class="footer-form-inputs-item">
        <input class="footer-form-input" type="text" name="comment" placeholder="comments" required />
        <div class="footer-underscore"></div>
      </li>
    </ul>
    <button class="footer-form-btn" data-aos="new-animation" data-aos-once="true" type="submit">
      Send
    </button>
  </form>

  <div class="footer-contacts">
    <a class="footer-contacts-link" href="mailto:lloydjefferson@gmail.com" target="_blank">lloydjefferson@gmail.com</a>
    <a class="footer-contacts-link" href="tel:+380111111111" target="_blank">+380-11-1111-111</a>
  </div>
</div>