#about-me {
  padding-top: 96px;
}

.about-span-br {
  display: block;
}
.about-intro {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 96px;
  gap: 16px;
}
.about-intro__left {
  border-radius: 24px;
  background-color: var(--cards);
  padding: 64px;
  color: var(--main-text);
  font-weight: 500;
  font-size: 38px;
  line-height: 1.05263;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.span-about-f {
  color: var(--button-text);
}
.span-about-s {
  color: rgba(250, 250, 250, 0.4);
}
.about-intro__left {
  width: 100%;
  max-width: 680px;
}
.about-intro__img {
  width: 100%;
  max-width: 680px;
  border-radius: 24px;
  overflow: hidden;
}
.about-intro__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ac-header {
  height: 40px;
}
.ac .ac-trigger::after {
  content: url(../img/icon-about-0.svg);
  right: 16px;
  top: 84%;
}
.ac .ac-trigger::before {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -2px;
}
.ac.is-active > .ac-header .ac-trigger::after {
  content: url(../img/icon-about.svg) !important;
}
.ac {
  background-color: transparent;
  border: none;
  margin-top: 0;
}
.ac-header {
}
.ac .ac-trigger {
  font-family: 'InterTight', sans-serif;
  color: rgba(250, 250, 250, 0.4);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 0 32px 0 0;
}

.ac .ac-panel .ac-text {
  font-family: 'InterTight', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.about-accordion li {
  padding: 32px 0 32px 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.ac .ac-panel .ac-text {
  padding-right: 68px;
}
.ac-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.ac-text p {
  width: 100%;
  max-width: 612px;
}
.about-accordion li .ac-text p:last-child {
  padding-bottom: 0 !important;
}
.about-accordion li:first-child .ac-text p {
  padding-bottom: 32px;
}
.about-accordion li:nth-child(2) .ac-text p {
  padding-bottom: 10px;
}
.about-accordion li:nth-child(3) .ac-text p {
  padding-bottom: 10px;
}
.swiper1 .swiper-slide {
  transition: all 250ms ease-in-out;
  width: 200px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'InterTight', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.swiper1 .swiper-slide.swiper-slide-active {
  background-color: var(--button-text);
  border: none;
}
.swiper1 {
  height: 200px;
  width: 100%;
  max-width: 1200px;
  margin-left: 0;
}
.swiper1 .swiper-wrapper {
}
.about-slider-container {
  position: relative;
  padding: 96px 32px 0;
  overflow: hidden;
}
.about-slider-arrow {
  position: absolute;
  right: 0;
  top: 176px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 1439px) {
  #about-me {
    padding-top: 64px;
  }
  .about-intro {
    flex-direction: column;
    margin-bottom: 64px;
  }
  .swiper1 {
    max-width: 600px;
  }
  .about-slider-container {
    padding: 64px 0 0;
  }
  .about-slider-arrow {
    top: 144px;
  }
  .about-accordion li:first-child .ac-text p {
    padding-bottom: 16px;
  }
  .ac-text p {
    max-width: 100%;
  }
  .ac .ac-panel .ac-text {
    padding: 8px 0 0;
  }
  .about-intro__left {
    height: 700px;
    max-width: 100%;
  }
  .about-intro__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #about-me {
    padding-top: 64px;
  }
  .about-intro {
    margin-bottom: 12px;
  }
  .about-intro {
    margin-bottom: 32px;
  }
  .about-intro__left {
    height: 500px;
    padding: 32px;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
  }
  .about-intro__img {
    height: 500px;
  }
  .ac-header {
    height: 36px;
  }
  .ac .ac-trigger::before {
    width: 36px;
    height: 36px;
  }
  .ac .ac-trigger::after {
    right: 14px;
    top: 81%;
  }
  .about-accordion li:first-child .ac-text p {
    padding-bottom: 32px;
  }
  .about-accordion li {
    padding: 20px 0 32px 0;
  }
  .about-slider-container {
    padding: 32px 0 0;
  }
  .swiper1 .swiper-slide {
    width: 130px;
    height: 130px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  .swiper1 {
    max-width: 260px;
    height: 130px;
  }
  .about-slider-arrow {
    top: 83px;
  }
}
@media screen and (max-width: 374px) {
  .swiper1 .swiper-slide {
    width: 110px;
    height: 110px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  .swiper1 {
    max-width: 220px;
    height: 110px;
  }
  .about-intro__left {
    height: 440px;
    padding: 26px;
    font-size: 22px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
  }
  .about-intro__img {
    height: 440px;
  }
}

#ac-0 {
  padding-top: 0;
}
