body {
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  color: #FFFFFF;
  background: #1C1D20;
}

.container {
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-title-button {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
  max-width: 280px;
}

.faq-list-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #fafafa20;
}

.first{
  border-top: 1px solid #fafafa20;
  padding-top: 20px;
}

.faq-title-button {
  padding-bottom: 16px;
}

.faq-list-item-text {
  font-size: 16px;
font-weight: 500;
letter-spacing: -0.02em;
text-align: left;
color: rgba(250, 250, 250, 0.6);
}
.faq-btn-svg-icon {
  border: 1px solid #fafafa20;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}


/* .faq-btn-svg-icon:hover,
.faq-btn-svg-icon:focus {

} */