.hero {
  background-image: url(../img/background-hero/mobile@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
.container-hero {
  padding-left: 16px;
}
.text {
  margin: 0;
  padding: 0;
}

/* Мобільні стилі */
@media (max-width: 767px) {
  .hero {
    background-color: url(../img/background-hero/mobile@1x.png);
    padding: 169px 0px 32px;
  }
  .text {
    align-content: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .social-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
  }
  .social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 8px;
    width: 37px;
    height: 37px;
  }

  .icon,
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }

  .contact {
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
    font-size: 0.8rem;
  }

  .list {
    align-self: flex-end;
    padding-top: 212px;
    margin-top: auto;
  }
  .icon:hover,
  .contact:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/background-hero/mobile@2x.png);
  }
}
/* Планшетні стилі */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    background-color: url(../img/background-hero/mobile@1x.png);
    padding: 300px 0px 32px;
    min-height: 1024px;
  }
  .text {
    font-size: 90px;
  }
  .social-list {
    justify-content: flex-end;
    display: flex;
    padding-right: 32px;
    gap: 8px;
  }
  .social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 16px;
    width: 55px;
    height: 55px;
  }

  .icon,
  .contact {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
  .icon:hover,
  .contact:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .list {
    padding-top: 187px;
    align-items: flex-end;
  }
}

/* Лаптопні стилі */
@media (min-width: 1025px) {
  .hero {
    background-image: url(../img/background-hero/laptop@1x.png);
    padding: 300px 0;
  }
  .text {
    font-size: 90px;
    line-height: 100%;
  }
  .social-list {
    gap: 15px;
  }

  .contact {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 1rem;
  }

  .icon:hover,
  .contact:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .list {
    align-items: flex-end;
  }
}
