.title-projects {
  line-height: 1.5;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 600;
}

.projects-container {
  margin-bottom: 32px;
}

.projects-description,
.projects-block-img {
  max-width: 343px;
  box-sizing: border-box;
}

.projects-description {
  display: block;
  padding: 32px;
  margin-bottom: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: var(--main-text);
}

.projects-block-img {
  overflow: hidden;
  height: 395px;
  padding: 100px 16px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  background: var(--cards);
}

.projects-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 96px;
  gap: 6px;
}

.projects-list-but {
  display: block;
  padding: 13px 18px;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  color: var(--background);
  background: transparent;
  transition: background-color 250ms ease-in-out;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500;
}

.projects-list-but:hover,
.projects-list-but:focus {
  color: #f7f3f3;
  background: var(--button-text);
}

/* .projects-list-but {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  transition: background-color 250ms ease-in-out;
}

.projects-list-but:hover,
.projects-list-but:focus {
  background: var(--button-text);
}

.projects-list-but a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--background);
  display: block;
}

.projects-list-but a:hover,
.projects-list-but a:focus {
  color: var(--background);
} */

.project-text {
  display: block;
  max-width: 279px;
  line-height: 1.5;
  margin-bottom: 32px;
  color: var(--background);
  text-align: left;
  letter-spacing: -0.05em;
  font-size: 24px;
  font-weight: 500;
}

.project-button {
  display: block;
  max-width: 141px;
  height: 45px;
  line-height: 1.3;
  padding: 13px 32px;
  border-radius: 60px;
  color: var(--main-text);
  background: var(--button-text);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  text-align: center;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500;
}

.project-button:hover,
.project-button:focus {
  background: #ec1d28;
}

/******** Swiper Styles ********/

.project-button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.project-button-prev,
.project-button-next {
  width: 52px;
  height: 52px;
  padding: 14px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  cursor: pointer;
  fill: var(--main-text);
}

/* Стили для отключенных кнопок */
.project-button-next:disabled,
.project-button-prev:disabled,
.project-button-next.project-button-disabled,
.project-button-prev.project-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
  pointer-events: none;
  fill: #3b3b3b;
}

.swiper2 .swiper-slide {
  cursor: pointer;
}

/******* Media Queries ********/
@media only screen and (min-width: 768px) {
  .projects-container {
    margin-bottom: 64px;
  }

  .projects-description,
  .projects-block-img {
    max-width: 704px;
  }

  .projects-description {
    padding: 64px;
  }

  .projects-block-img {
    height: 625px;
    padding: 120px 45px;
  }

  .projects-list {
    margin-bottom: 164px;
  }

  .project-text {
    max-width: 494px;
    line-height: 1;
    margin-bottom: 32px;
    font-size: 44px;
  }

  .project-button {
    max-width: 177px;
    height: 55px;
    padding: 18px 50px;
    border-radius: 60px;
  }

  .project-button-nav {
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .projects-description,
  .projects-block-img {
    width: 688px;
    height: 625px;
  }

  .projects-description {
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
  }

  .projects-block-img {
    padding: 120px 37px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0;
  }

  .projects-list {
    margin-bottom: 223px;
  }
}
