body {
  background: #1c1d20;
  font-family: 'InterTight', sans-serif;
}

.reviews-button-prev,
.reviews-button-next {
  width: 52px;
  height: 52px;
  padding: 14px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  cursor: pointer;
  fill: var(--main-text);
}

/* Стили для отключенных кнопок */
.reviews-button-next:disabled,
.reviews-button-prev:disabled,
.reviews-button-next.reviews-button-disabled,
.reviews-button-prev.reviews-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
  pointer-events: none;
  fill: #3b3b3b;
}

/* mobile styles */
.container-reviews {
  max-width: 375px;

  display: flex;
  flex-direction: column;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

/* .container-reviews
.container-cards
.cards */
/*  tablet styles */

@media screen and (min-width: 768px) {
  .container-reviews {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    /* padding: 0 32px; */
  }

  .card {
    width: calc((100% - 30px) / 2);
  }
}

/*  desktop styles */
@media screen and (min-width: 1440px) {
  .container-reviews {
    max-width: 1440px;
    flex-direction: row;
  }
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #808080;
  border-radius: 20px;
  background-color: transparent;
  padding: 32px 24px 32px 24px;
  /* gap: 32px; */
  height: 302px;
  max-width: 344px;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}

.name {
  /* margin-bottom: 32px; */
  color: rgb(250, 250, 250);
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

.message {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-y: hidden;
  max-height: 120px;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  opacity: 0.6;
}

.review-scroll {
  overflow-y: auto;
}

.photo {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
/* 
================================================= */

body {
  background: #1c1d20;
  font-family: 'InterTight', sans-serif;
}

@media screen and (min-width: 768px) {
  .container-reviews {
    display: flex;
    flex-direction: column;
  }
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  border-radius: 20px;
  background-color: transparent;
  padding: 32px 24px 32px 24px;
  /* gap: 32px; */
  height: 302px;
  width: 332px;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}

.name {
  /* margin-bottom: 32px; */
  color: rgb(250, 250, 250);
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

.message {
  max-height: 120px;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  opacity: 0.6;
}

.swiper3 {
  overflow: hidden;
}
.photo {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.reviews-button-prev,
.reviews-button-next {
  width: 52px;
  height: 52px;
  padding: 14px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  cursor: pointer;
  justify-content: center;
}
