/*================================================================*/
/* mobile footer styles */
/*================================================================*/

.footer-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-heading-wrapper {
  padding-bottom: 64px;
}

.footer-heading {
  display: flex;
  align-items: center;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 40px;
  font-weight: 500;
  column-gap: 10px;
}

.footer-heading-highlight {
  color: var(--button-text);
}

.footer-heading-pb {
  padding-bottom: 4px;
}

.footer-heading-img-wrapper {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.footer-heading-img {
  border-radius: 12px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  gap: 32px;
}

.footer-form-inputs-item {
  position: relative;
}

.footer-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-input {
  overflow: hidden;
  width: 100%;
  line-height: 150%;
  padding-bottom: 20px;
  border: none;
  outline: none;
  color: var(--main-text);
  background-color: transparent;
  transition: color 250ms ease-in-out;
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500;
}

.footer-form-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
  transition: color 250ms ease-in-out;
}

.footer-underscore {
  position: absolute;
  width: 100%;
  line-height: 129%;
  padding-top: 4px;
  padding-right: 2px;
  padding-left: 2px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color 250ms ease-in-out;
  font-size: 14px;
}

.footer-form-inputs-item:hover .footer-underscore,
.footer-form-inputs-item:focus .footer-underscore {
  border-color: rgba(250, 250, 250, 0.5);
}

.footer-form-inputs-item:hover .footer-form-input::placeholder,
.footer-form-inputs-item:focus .footer-form-input::placeholder {
  color: var(--main-text);
}

.footer-form-btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100%;
  color: var(--main-text);
  background-color: var(--button-text);
  transition: background-color 250ms ease-in-out;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--hover);
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--main-text);
  letter-spacing: -0.02em;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
}

.footer-contacts-link {
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: border-color 250ms ease-in-out;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  border-color: var(--main-text);
}

/*================================================================*/
/* states */
/*================================================================*/

.success {
  border-color: var(--success-message);
  color: var(--success-message);
}

.failure {
  border-color: var(--hover);
  color: var(--hover);
}

/*================================================================*/
/* background */
/*================================================================*/

/* bg */
.footer {
  background: no-repeat;
  background-image: url(../img/work-together-img/elements.png);
  background-position-x: right;
  background-size: contain;
}

@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/work-together-img/elements@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/work-together-img/bg-tablet.png);
  }
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/work-together-img/bg-tablet@2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(../img/work-together-img/footer-bg.png);
  }
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/work-together-img/footer-bg@2x.png);
    }
  }
}

/*================================================================*/
/* tablet adaptive styles*/
/*================================================================*/
@media screen and (min-width: 768px) {
  .footer-wrapper {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .footer-heading-wrapper {
    padding-bottom: 18px;
  }

  .footer-heading {
    font-size: 64px;
    column-gap: 20px;
  }

  .footer-heading-pb {
    padding-bottom: 8px;
  }

  .footer-heading-img-wrapper {
    display: inline-block;
    width: 70px;
    height: 70px;
  }

  .footer-heading-img {
    border-radius: 24px;
  }

  .footer-form {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 18px;
  }

  .footer-form-inputs-item {
    width: 245px;
  }

  .footer-form-inputs {
    flex-direction: row;
    gap: 32px;
  }

  .footer-form-btn {
    width: 150px;
    height: 150px;
  }

  .footer-contacts {
    font-size: 16px;
    gap: 8px;
  }

  .footer-contacts-link {
    padding: 18px 32px;
  }
}

/*================================================================*/
/* pc adaptive styles*/
/*================================================================*/
@media screen and (min-width: 1440px) {
  .footer-wrapper {
    padding-top: 82px;
    padding-right: 196px;
    padding-bottom: 164px;
    padding-left: 196px;
  }

  .footer-form {
    gap: 86px;
  }

  .footer-form-inputs-item {
    width: 390px;
  }
}

[data-aos='new-animation'] {
  opacity: 0;
  transform: scale(0.5) rotateZ(0deg);
  transition-property: opacity, transform, background-color;
  transition-duration: 1s, 1s, 250ms;
  transition-timing-function: ease-in-out;
}

[data-aos='new-animation'].aos-animate {
  opacity: 1;
  transform: scale(1) rotateZ(360deg);
}
